body {
  font-family: "Open Sans";
  color: #212121;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.menu a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.menu a:first-child {
  margin-right: 10px;
}
.container {
  margin: 0 20px;
}
.flex--center {
  display: flex;
  justify-content: space-between;
}
